<header>
  <div class="header-content">
    <div class="logo">Travely</div>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-link"><a routerLink="/">Tours</a></li>
        <li
          class="nav-link"
          *ngIf="user; else login"
          mat-button
          [matMenuTriggerFor]="menu"
        >
          {{ user.name ?? "Username" }}
        </li>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/profile">Profile</a>
          <a mat-menu-item routerLink="/reservations">Reservations</a>
          <a
            *ngIf="isTravelAgent || isAdmin"
            mat-menu-item
            routerLink="/agent-tours"
            >My Tours</a
          >
          <a
            *ngIf="isTravelAgent || isAdmin"
            mat-menu-item
            routerLink="/tours/create"
            >Add Tour</a
          >
          <button mat-menu-item (click)="logout()">Logout</button>

          <ng-template #login>
            <li class="nav-link"><a routerLink="/login">Login</a></li>
          </ng-template>
        </mat-menu>

        <!-- <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button
            (click)="
              auth.logout({
                logoutParams: { returnTo: document.location.origin }
              })
            "
          >
            Log out
          </button>
        </ng-container>

        <ng-template #loggedOut>
          <button (click)="auth.loginWithRedirect()">Log in</button>
        </ng-template> -->
      </ul>
    </nav>
  </div>
</header>
